name: Scrape latest data

on:
  workflow_dispatch:
  schedule:
    - cron: '39 5 * * *'  # 05:39 UTC every day

jobs:
  scheduled:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        activate-environment: true

    - name: Install the project
      run: uv sync --group readme

    - name: Fetch latest data
      run: |
        uv run scrapy runall

    - name: Update list of ical feeds in readme to match known files
      run: |
        uv run cog -r -U -- README.md

    - name: Commit and push if it changed
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        branch: main
        file_pattern: 'out/*.ical README.md'
        commit_user_name: GitHub Actions # defaults to "GitHub Actions"
        commit_user_email: actions@github.com # defaults to "actions@github.com"
        commit_author: GitHub Actions <actions@github.com> # defaults to author of the commit that triggered the run

  issue:
    needs: [scheduled]
    runs-on: ubuntu-latest
    if: ${{ failure() }}

    permissions:
      issues: write

    steps:
    - name: Get current date in NOW env variable
      run: echo "NOW=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    - name: Report issue on failure
      env:
        RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        GH_TOKEN: ${{ github.token }}
      run: |
        gh issue create --title "Failed job $NOW" --repo "$GITHUB_REPOSITORY" --assignee "$GITHUB_REPOSITORY_OWNER" --body "$RUN_URL"
